<div class="ui container">
    <div class="student ui cards three stackable" style="margin: 0 auto;">
        <div class="ui link card" *ngFor="let student of students" [routerLink]="['/etudiant', student.id]">
            <div class="content">
                <div class="header">
                    {{student.firstName}} {{student.lastName}}
                    <button class="ui icon basic button right floated" (click)="$event.stopPropagation();deleteButton(student.id)"><i class="ui icon trash alternate"></i></button>
                </div>
            </div>
            <div class="content">{{student.jobTitle}} <span *ngIf="student.jobTitle && student.company">chez</span> {{student.company}}</div>
        </div>
    </div>
</div>