<div class="ui container">
    <div class="ui fluid card">
        <div class="content">
            <div class="back-button right floated">
                <button class="ui icon button" [routerLink]="['/etudiant/'+student.id+'/edit']">
                    <i class="edit icon"></i>
                </button>
            </div>
            <div class="header">
                {{student.firstName}} {{student.lastName}}
            </div>
            <div class="description">
                {{student.jobTitle}} <span *ngIf="student.jobTitle && student.company">chez</span> {{student.company}}
            </div>
        </div>
        <div class="content">
            <div>
                Date de naissance:  {{student.birthday}}
            </div>
            <br>
            <div>
               Email:  {{student.email}}
            </div>
        </div>
    </div>
    <div class="back-button">
        <button class="ui icon button" [routerLink]="['/etudiants']">
            <i class="left arrow icon"></i>
        </button>
    </div>
</div>
