html {
    min-height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

#footer {
    flex-grow: 1;
    vertical-align: bottom;
    position: relative;
    min-height: 50px;
    margin-top: 50px; 
}
#footer > div {
    height: 50x;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}