<app-recherche></app-recherche>
<br>
<router-outlet></router-outlet>
<div id="footer">
    <div class="ui inverted vertical footer segment">
        <div style="flex-grow: 1;">
            Annuaire de la classe DAGPI
        </div>
        <div>
            Réalisé par
            <a href="https://www.linkedin.com/in/awa-ndiaye-b04b8594/" target="blank">Awa</a>, 
            <a href="https://www.linkedin.com/in/floriangomas/" target="blank">Florian</a> et 
            <a href="https://www.linkedin.com/in/samuel-kernen-7907b31a0/" target="blank">Samuel</a>
        </div>
    </div>
</div>