<form [formGroup]="studentForm" (ngSubmit)="submit()" method="post" class="ui form" id="formAjout">
    <br>
    <div class="field">
        <input type="text" formControlName="firstName" name="firstName" placeholder="Prénom" required="required">
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <div *ngIf="firstName.errors?.['required']">Le prénom est obligatoire</div>
        </div>
    </div>
    <div class="field">
        <input type="text" formControlName="lastName" name="lastName" placeholder="Nom" required="required">
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <div *ngIf="lastName.errors?.['required']">Le nom est obligatoire</div>
        </div>
    </div>
    <div class="field">
        <input type="text" formControlName="birthday" name="birthday" placeholder="Date de naissance jj/mm/aaaa" required="required">
        <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)">
            <div *ngIf="birthday.errors?.['required']">La date de naissance est obligatoire</div>
            <div *ngIf="birthday.errors?.pattern">La date de naissance doit être au format JJ/MM/AAAA</div>
        </div>
    </div>
    <div class="field">
        <input type="email" formControlName="email" name="email" placeholder="Adresse email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.pattern">Le format de votre email n'est pas valide</div>
        </div>
    </div>
    <div class="field">
        <input  type="text" formControlName="jobTitle" name="jobTitle" placeholder="Poste en alternance">
    </div>
    <div class="field">
        <input type="text" formControlName="company" name="company" placeholder="Entreprise">
    </div>
    <div>
        <input type="submit" class="ui button" value="Ajouter">
    </div>
</form>